/* Lato Regular */
@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Lato Italic */
@font-face {
    font-family: 'Lato';
    src: url('Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Lato Bold Italic */
@font-face {
    font-family: 'Lato';
    src: url('Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Lato Black */
@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Lato Black Italic */
@font-face {
    font-family: 'Lato';
    src: url('Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Lato Light */
@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Lato Light Italic */
@font-face {
    font-family: 'Lato';
    src: url('Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Lato Hairline (use 100 for hairline weight) */
@font-face {
    font-family: 'Lato';
    src: url('Lato-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Lato Hairline Italic */
@font-face {
    font-family: 'Lato';
    src: url('Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Apply Lato globally */
body {
    font-family: 'Lato', sans-serif;
}